<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Professional Development</title>
  <link rel="icon" type="image/x-icon" href="/img/favicon.ico" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <!-- Fonts -->
  <link rel="stylesheet" type="text/css" href="/fonts/line-icons.css">
  <link rel="stylesheet" type="text/css" href="/css/icons.css">
  <!--Morris Chart CSS -->
  <link rel="stylesheet" href="/plugins/morris/morris.css">
  <!-- Main Style -->
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <!-- Responsive Style -->
  <link rel="stylesheet" type="text/css" href="/css/responsive.css">

</head>

<body>
  <div class="app header-default side-nav-dark">
    <div class="layout">
      <!-- Header START -->
      <div class="header navbar">
        <div class="header-container">
          <div class="nav-logo">
            <a href="/dashboard">
              <b><img src="/img/logo.png" alt=""></b>
              <span class="logo">
                <img src="/img/logo-text.png" alt="" width="200">
              </span>
            </a>
          </div>
          <ul class="nav-left">
            <li>
              <a class="sidenav-fold-toggler" href="javascript:void(0);">
                <i class="lni-menu"></i>
              </a>
              <a class="sidenav-expand-toggler" href="javascript:void(0);">
                <i class="lni-menu"></i>
              </a>
            </li>
          </ul>
          <ul class="nav-right">
            <a href="/exportDashboard" class="btn btn-common sml-btn">
              <span class="icon-holder">
                <i class="lni-cloud-download"></i>
              </span>
              <span class="title">Generate Report</span>
            </a>
          </ul>
        </div>
      </div>
      <!-- Header END -->

      <!-- Side Nav START -->
      <div class="side-nav expand-lg">
        <div class="side-nav-inner">
          <ul class="side-nav-menu">
            <li class="side-nav-header">
              <span>Navigation</span>
            </li>

            <!-- Go to Dashboard -->
            <li class="nav-item dropdown open main-side">
              <a href="/dashboard" class="dropdown-toggle">
                <span class="icon-holder">
                  <i class="lni-dashboard"></i>
                </span>
                <span class="title">Dashboard</span>
                <span class="arrow">
                  <i class="lni-minus"></i>
                </span>
              </a>
            </li>

            <!-- Go to Quick Add -->
            <li class="nav-item dropdown main-side">
              <a href="/new-activity/quick-add" class="dropdown-toggle">
                <span class="icon-holder">
                  <i class="lni-bolt-alt"></i>
                </span>
                <span class="title">Quick Add</span>
                <span class="arrow">
                  <i class="lni-chevron-right"></i>
                </span>
              </a>
            </li>

            <!-- Go to add reflections after -->
            <li class="nav-item dropdown main-side">
              <a href="/reflection-list" class="dropdown-toggle">
                <span class="icon-holder">
                  <i class="lni-thought"></i>
                </span>
                <span class="title">Reflect</span>
                <span class="arrow">
                  <i class="lni-chevron-right"></i>
                </span>
              </a>
            </li>

            <!-- Go to task list -->
            <li class="nav-item dropdown main-side">
              <a href="/add-todo" class="dropdown-toggle">
                <span class="icon-holder">
                  <i class="lni-medall-alt"></i>
                </span>
                <span class="title">To Do list</span>
                <span class="arrow">
                  <i class="lni-chevron-right"></i>
                </span>
              </a>
            </li>

            <!-- Log out link -->
            <li class="nav-item dropdown log-out">
              <a href="/login" class="">
                <span class="icon-holder">
                  <i class="lni-exit"></i>
                </span>
                <span class="title">Log out</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Side Nav END -->

      <!-- Page Container START -->
      <div class="page-container">
        <!-- Content Wrapper START -->
        <div class="main-content">
          <div class="container-fluid">
            <div class="breadcrumb-wrapper row">
              <div class="col-12 col-lg-3 col-md-6">
                <h4 class="page-title" th:text="'Hello, '+ ${userName}">Dashboard</h4>
              </div>
              <div class="col-12 col-lg-9 col-md-6">
                <ol class="float-right">

                </ol>
              </div>
            </div>
          </div>

          <div class="container-fluid" th:if="${activityTotal == 0}">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-12">
                        <h2 class="counter">You have not added any activities yet, follow the <a href="/new-activity/quick-add">Quick Add</a> in the side bar to start</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="container-fluid" th:if="${activityTotal != 0}">
            <!-- Title Count Start -->
            <div class="card-group">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-12">
                      <div class="d-flex no-block align-items-center">
                        <div>
                          <div class="icon"><i class="fa fa-soccer-ball-o"></i></div>
                          <p class="text-muted">Total Activities</p>
                        </div>
                        <div class="ml-auto">
                          <h2 class="counter text-success" th:text="${activityTotal}"></h2>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-12">
                      <div class="d-flex no-block align-items-center">
                        <div>
                          <div class="icon"><i class="fa fa-tags"></i></div>
                          <p class="text-muted">Achieved Tags</p>
                        </div>
                        <div class="ml-auto">
                          <h2 class="counter text-info" th:text="${tagTotal}"></h2>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-12">
                      <div class="d-flex no-block align-items-center">
                        <div>
                          <div class="icon"><i class="fa fa-calendar"></i></div>
                          <p class="text-muted">Days since last entry</p>
                        </div>
                        <div class="ml-auto">
                          <h2 class="counter text-purple" th:text="${daysSince}"></h2>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Title Count End -->

            <div class="row">
              <div class="col-md-8">
                <div class="card">
                  <div class="card-header">
                    <h5 class="card-title">Tag completion to date</h5>
                  </div>
                  <div class="card-body">
                    <div id="morris-line-example" style="height: 372px"></div>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6 col-xs-12" >
                <div class="card">
                  <div class="card-header">
                    <h4 class="card-title">To Do List</h4>
                  </div>
                  <a class="m-4" href="add-todo" th:if="toDos == null">Create a to do item!</a>

                  <!-- Task list -->
                  <ul class="list-task list-group">
                    <form id="cForm" th:action="@{/remove-todo}" method="post" th:object="${sc}">
                      <li class="list-group-item border-0" data-role="task" th:each="toDo: ${toDos}">
                        <div class="custom-control custom-checkbox" th:object="${sc}">
                          <input class="custom-control-input" type="checkbox" th:value="${toDo.todoID}" th:id="${toDo.todoID}" th:field="*{id}" onchange="$('#cForm').submit();"> <!--class="custom-control-input"-->
                          <label class="custom-control-label" th:for="${toDo.todoID}" th:text="${toDo.Name}"></label>
                        </div>
                      </li>
                    </form>
                  </ul>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4 col-md-12 col-xs-12">
                <div class="card">
                  <div class="card-body text-center">
                    <h4 class="header-title">Areas of Activity</h4>
                    <div id="morris-donut-example-a" style="height: 240px"></div>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-12 col-xs-12">
                <div class="card">
                  <div class="card-body text-center">
                    <h4 class="header-title">Core Knowledge</h4>
                    <div id="morris-donut-example-b" style="height: 240px"></div>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-12 col-xs-12">
                <div class="card">
                  <div class="card-body text-center">
                    <h4 class="header-title">Professional Values</h4>
                    <div id="morris-donut-example-c" style="height: 240px"></div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- Content Wrapper END -->

        <!-- Footer START -->
        <footer class="content-footer">
          <div class="footer">
            <div class="copyright">
              <span>Copyright © 2021 <b class="text-dark">UIdeck</b> All Right Reserved</span>
              <span class="go-right">
                <a href="" class="text-gray">Term &amp; Conditions</a>
                <a href="" class="text-gray">Privacy &amp; Policy</a>
              </span>
            </div>
          </div>
        </footer>
        <!-- Footer END -->

      </div>
      <!-- Page Container END -->
    </div>
  </div>

  <script th:inline="javascript">
    var $tagdata = [# th:utext="${aTagData}"/];
    var $linedata = [# th:utext="${aLineData}"/];
    var $donutData1 = [# th:utext="${donutData1}"/];
    var $donutData2 = [# th:utext="${donutData2}"/];
    var $donutData3 = [# th:utext="${donutData3}"/];
  </script>

  <!-- Preloader -->
  <div id="preloader">
    <div class="loader" id="loader-1"></div>
  </div>
  <!-- End Preloader -->

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="/js/jquery-min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/jquery.app.js"></script>
  <script src="/js/main.js"></script>
  <script src="assets/js/jquery.app.js"></script>
  <script src="assets/js/jquery.app.js"></script>

  <!--Morris Chart-->
  <script src="/plugins/morris/morris.min.js"></script>
  <script src="/plugins/raphael/raphael-min.js"></script>
  <script src="/js/dashboard.js"></script>

</body>

</html>
